.SunPage {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: fixed;

  .sun {
    height: 140vmax;
    width: 140vmax;
    position: absolute;

    &.rotate {
      animation: rotate-reverse 1000s linear infinite;
    }
    &.rotate-reverse {
      animation: rotate 1000s linear infinite;
    }
  }

  svg {
    width: 28vmax;
    height: 28vmax;
    z-index: 1;
    circle {
      r: 13vmax;
      fill: $clr_white;
      stroke-width: 1vmax;
      stroke: $clr_black;
      transform: translate(14vmax,14vmax);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }
}