.SunPage {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: fixed;

  &>*{
    position: absolute;
  }

  .sun {
    height: 140vmax;
    width: 140vmax;

    &.rotate {
      animation: rotate-reverse 1000s linear infinite;
    }
    &.rotate-reverse {
      animation: rotate 1000s linear infinite;
    }
  }

  svg {
    width: 26vmax;
    height: 26vmax;
    z-index: 0;
    circle {
      r: 12vmax;
      fill: $clr_white;
      stroke-width: 1vmax;
      stroke: $clr_black;
      transform: translate(13vmax,13vmax);
    }
  }

  img {
    //max-height: 20vmax;
    animation: rotate-reverse 12s ease-in-out infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }
}