.PortfolioPage {
  .HeaderTile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .ContactsTile {
    display: flex;
    flex-direction: column;
    background-color: #444444;
    background-image: linear-gradient(110deg, #111 10%, #555);
    color: white;
    padding: 1.5rem;

    .icon {
      width: 3rem;
      height: 3rem;
      margin: .75rem 0;
      pointer-events: none;

      &:hover {
        animation: rotate infinite 1s ease-in-out;
        transition: 2s ease-in-out;

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }

      g {
        border-radius: 50%;
        pointer-events: all;

        path {
          fill: white;
        }

        circle, rect {
          fill: transparent;
        }
      }
    }
  }
}
