.UrlItem {
  padding: .5rem;

  .inner-container {
    background-color: deeppink;
    padding: 4rem 2rem 6rem;
    height: 100%;
    width: 100%;
    transition: .1s ease-out;

    h2 {
      margin-top: unset;
    }

    &:hover {
      transform: scale(1.03);
    }
  }
}
