$clr_white: #fff !default;

$clr_light: #A7A4C4 !default;
$clr_medium: #706E83 !default;
$clr_dark: #464450 !default;
$clr_darker: #28242B !default;
$clr_black: #111 !default;

$clr_highlight_main: #953AEA !default;
$clr_highlight_second: #03B083 !default;